SIGEFLOT_ADMIN_NOMBRES=ADMIN_NOMBRES
SIGEFLOT_ADMIN_APELLIDOS=ADMIN_APELLIDOS
SIGEFLOT_ADMIN_EMAIL=admin@example.invalid
SIGEFLOT_ADMIN_PASSWORD=CHANGE_WITH_A_12_CHARACTER_MINIMUM_PASSWORD
SIGEFLOT_MECANICO_NOMBRES=MECANICO_NOMBRES
SIGEFLOT_MECANICO_APELLIDOS=MECANICO_APELLIDOS
SIGEFLOT_MECANICO_EMAIL=mecanico@example.invalid
SIGEFLOT_MECANICO_PASSWORD=CHANGE_WITH_A_12_CHARACTER_MINIMUM_PASSWORD
SIGEFLOT_CHOFER_NOMBRES=CHOFER_NOMBRES
SIGEFLOT_CHOFER_APELLIDOS=CHOFER_APELLIDOS
SIGEFLOT_CHOFER_EMAIL=chofer@example.invalid
SIGEFLOT_CHOFER_PASSWORD=CHANGE_WITH_A_12_CHARACTER_MINIMUM_PASSWORD
SIGEFLOT_CONSULTA_NOMBRES=CONSULTA_NOMBRES
SIGEFLOT_CONSULTA_APELLIDOS=CONSULTA_APELLIDOS
SIGEFLOT_CONSULTA_EMAIL=consulta@example.invalid
SIGEFLOT_CONSULTA_PASSWORD=CHANGE_WITH_A_12_CHARACTER_MINIMUM_PASSWORD
